../.aws/
        ../.bash_history
        ../.bash_logout
        ../.bashrc
        ../.boto
        ../.cache/
        ../.codeoss/
        ../.config/
        ../.docker/
        ../.gitconfig
        ../.gsutil/
        ../.kube/
        ../.m2/
        ../.mysql_history
        ../.npm/
        ../.profile
        ../.python_history
        ../.redhat/
        ../.ssh/
        ../.terraform.d/
        ../.theia/
        ../.vim/
        ../.viminfo
        ../Dockerfile
        ../README-cloudshell.txt
        ../app-engine/
        ../app/
        ../appenginestandard/
        ../aws/
        ../awscli-bundle/
        ../chper/
        ../clone-repo-2/
        ../clone-repo/
        ../clone-repo3/
        ../cloud-console-sample-build/
        ../cloudbuild.yaml
        ../cloudshell_open/
        ../devops/
        HEAD
        config
        description
        hooks/
        info/
        ../google-cloud/
        ../gopath/
        ../helloworld/
        ../java-docs-samples/
        ../main.py
        ../messages
        ../my-first-source-repo/
        ../my-simple-app/
        ../myapp/
        ../network/
        ../node_modules/
        ../nodejs-docs-samples/
        ../now/
        ../public-repo/
        ../python-docs-samples/
        ../repo-2/
        ../repo-3/
        ../repo-4/
        ../repo-6/branch2/
        ../srf
        ../uni/
